version: '3.5'
services:
    web-server:
      image: nginx:stable
      container_name: mynginx
      volumes:
        - '${PWD}/opt/web/html:/var/www/html'
        - '${PWD}/opt/web/pics:/var/www/pictures'
        - 'nginx-config:/var/www/config'
      environment:
        - 'NGINX_HOST=web.romnero.de'
        - 'NGINC_PORT=80'
      ports:
        - '80:80'
        - '443:443'
      restart: unless-stopped
volumes:
  nginx-config:
networks:
  default:
    driver: bridge
    name: webnet